*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #fa4299;
  color: #fff;
}
html, body{
  display: grid;
  min-height: 100%;
  width: 100%;
}
.grid{
  grid-template-rows: 60px auto auto;
  display:grid;
  height: 100%;
  width: 100%;
}
.navbar{
  grid-row: 1;
  display: grid;

}
.foo{
  grid-row: 3;
  height: auto;
  margin-bottom: 0;
  display: grid;

}
.contenido{
  grid-row: 2;
  display: grid;
  height: auto;
}
.datos{
  display: grid;
  height: 100%;
}

/* pagina carrito */

.precioTotal{
  position: relative;
  background-color: aqua;
  margin-left: 50%;
  margin-bottom: 100000%;
}

